lookup BoxContextual {
    lookupflag 0;
        sub @should_box_next @boxable_glyph' by @boxed_glyph;
} BoxContextual;

lookup ModifierContextual {
    lookupflag 0;
        sub @modleft_glyph @moddable_glyph'
            by @modinline_glyph;
        sub @modinline_glyph @moddable_glyph'
            by @modinline_glyph;

        sub @boxed_modleft_glyph @boxed_moddable_glyph'
            by @boxed_modinline_glyph;
        sub @boxed_modinline_glyph @boxed_moddable_glyph'
            by @boxed_modinline_glyph;
        
} ModifierContextual;

feature calt {
    script DFLT;
        language dflt;
            lookup BoxContextual;
            lookup ModifierContextual;
    script latn;
        language dflt;
            lookup BoxContextual;
            lookup ModifierContextual;
} calt;



