@should_box_next = [
    {% for glyph in box_initializers %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in box_separators %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in boxed_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@modifier_initializer = [
    {% for glyph in modifier_initializers %}
        \{{ glyph }}
    {% endfor %}
];

@modleft_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modleft }}
    {% endfor %}
];

@modright_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modright }}
    {% endfor %}
];

@modinline_glyph = [
    {% for glyph in modinline_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@boxed_modifier_initializer = [
    {% for glyph in modifier_initializers %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
];

@boxed_modinline_glyph = [
    {% for glyph in modinline_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
];

@default_glyph = [
    {% for glyph in default_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@boxable_glyph = [
    {% for glyph in default_glyphs %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in modinline_glyphs %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in modcircled_glyphs %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in modifier_initializers %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modleft }}
    {% endfor %}
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modright }}
    {% endfor %}
    {% for glyph in arrows %}
        \{{ glyph }}
    {% endfor %}
];

@boxed_glyph = [
    {% for glyph in default_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in modinline_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in modcircled_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in modifier_initializers %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modleft }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modright }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in arrows %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
];

@small_caps_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}
    {% endfor %}
];

@moddable_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@modinline_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{suffixes.modinline}}
    {% endfor %}
];

@boxed_moddable_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
];

@boxed_modinline_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{suffixes.modinline}}{{ suffixes.boxed }}
    {% endfor %}
];

@boxed_modleft_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modleft }}{{ suffixes.boxed }}
    {% endfor %}
];

@boxed_modright_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{ suffixes.modright }}{{ suffixes.boxed }}
    {% endfor %}
];





