@should_box_next = [
    {% for glyph in box_initializers %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in box_separators %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in boxed_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@should_mod_next = [
    {% for glyph in modifier_initializers %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in modinline_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@should_box_and_mod_next = [
    {% for glyph in boxed_modifier_initializers %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in boxed_modinline_glyphs %}
        \{{ glyph }}
    {% endfor %}
];



@default_glyph = [
    {% for glyph in default_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@boxable_glyph = [
    {% for glyph in default_glyphs %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in modinline_glyphs %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in modcircled_glyphs %}
        \{{ glyph }}
    {% endfor %}
    {% for glyph in modifier_initializers %}
        \{{ glyph }}
    {% endfor %}
];

@boxed_glyph = [
    {% for glyph in default_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in modinline_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in modcircled_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
    {% for glyph in modifier_initializers %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
];

@moddable_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}
    {% endfor %}
];

@modinline_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{suffixes.modinline}}
    {% endfor %}
];

@boxed_moddable_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.boxed }}
    {% endfor %}
];

@boxed_modinline_glyph = [
    {% for glyph in moddable_glyphs %}
        \{{ glyph }}{{ suffixes.small_caps }}{{suffixes.modinline}}{{ suffixes.boxed }}
    {% endfor %}
];



