lookup BoxingLigatures {
    lookupflag 0;
        sub \bar \bar \bracketleft by \square_box_left;
        sub \bracketright \bar \bar by \square_box_right;
        sub \parenleft \colon by \modifier_left;
} BoxingLigatures;

lookup SymbolLigatures {
    lookupflag 0;
    {% for name in symbols %}
        sub \underscore \underscore \colon {% for char in name %} \{{ char|upper }} {% endfor %} \colon \underscore \underscore
            by \{{ name }};
    {% endfor %}
} SymbolLigatures;

feature liga {
    script DFLT;
        language dflt;
            lookup BoxingLigatures;
            lookup SymbolLigatures;
    script latn;
        language dflt;
            lookup BoxingLigatures;
            lookup SymbolLigatures;
} liga;




